

.beer-container{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.label{
    position: absolute;
    /*border: 2px solid yellow;*/
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-img{
    width: 150px;
}


.left-side{
    /*border: 2px solid red;*/
    height: 100%;
}
.right-side{
    /*border: 2px solid blue;*/
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #21181F;
    padding: 0 3rem 0 3rem;
    overflow: hidden;
}
.right-side .detail{
    padding: 3rem;
    z-index: 111;
    display: flex;
    flex-direction: column ;

}


.detail .first-title , .second-title {
    line-height: 40px;
    font-size: clamp(40px, 4vw, 4vw) ;
}


.detail .label-text {
    margin-left: 5vw;
    color: #F19F00;
    font-size: clamp(25px, 2vw, 3vw) ;
}

.detail .description{
    margin-top: 1rem;
    font-size: clamp(15px, 0.5vw, 1vw)
}


.video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}
.bottle-box{
    /*border: 2px solid red;*/
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}
.bottle{
    /*width: 15vw;*/
}

.btn-box{
    position: absolute;
    display: flex;
    bottom: 2rem;
    right: 2rem;
}


@media screen and (min-width: 320px) and (max-width: 1024px) {
    .bottle{
        width: 25vw;
    }
}

@media screen and (min-width: 1025px) {
    .bottle{
        width: 15vw;
    }
}