

.container{
   padding: 50px;
   /*height: 10rem;*/
   /*background: white;*/
   justify-content: center;
   background-image: url('./../assets/footer.png');
}


.footer-title{
   font-weight: 700;
   font-size: x-large;
   color: black;
   display: flex;
   margin-top: 5px;
}

.footer-description{
   color: #585859;
   display: flex;
   /*justify-content: center;*/
   text-align:  start !important;
   font-weight: 500;
   font-size: medium;
   margin-top: 2px;
   cursor: pointer;
   padding: 0;
}

.footer-description:hover{
   color: #58c0bd;
   font-weight: 800;
}