button{
    background: transparent !important;
    color: #FFFFFF !important;
    width: 100px ;
    /*border-bottom: 1px solid #626060 !important;*/
}

button:hover{
    /*border-bottom: 1px solid white !important;*/
}

button:focus{
    /*outline: none !important;*/
}

*{
    font-family: "Playfair Display", serif !important;
}