#root {
  width: 100vw;
  height: 100vh;
  /*text-align: center;*/
  transform-style: preserve-3d;
  /*overflow-x: hidden;*/
  background: black;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body{
  transform-style: preserve-3d !important;
}

span{
  font-weight: 600;
  color: #ffffff;
  font-size: clamp(12px, 0.5vw, 1vw);
}

.template{
  height: 100vh;
  /*width: 100vw;*/
  /*border: 2px solid red;*/
}

.cont-1{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform-style: preserve-3d;
  background-image: url('./../src/assets/background.jpg');
}

.toolbar{
  height: 3%;
  /*border: 2px solid #404042;*/
  border-radius: 8px;
  padding: 15px;
  position: relative;
  justify-content: center;
}

.grids{
  display: flex;
  padding: 9px;
  justify-content: center;
  /*border: 2px solid green;*/
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #000000;
}

.items{
  cursor: pointer;
  justify-content: center;
  display: flex;
  font-weight: 600;
}

.items:hover{
  color: #58c0bd;

}

.home-page{
  /*border: 2px solid red;*/
  border-radius: 8px;
  height: 100%;
  display: flex;
  align-items: center !important;
}

.text-box{
  display: flex;
  width: 100%;
  padding: 3em;
  flex-direction: column !important;
}

.text{
  text-align: left;
  font-size: clamp(30px, 6vw, 6vw);
  font-weight: 700;
  line-height: 100%;
}

.description{
  font-size: clamp(0.5rem, 1vw, 3rem);
  margin: 20px 0 0 0;
  font-weight: 100;
}

.btn{
  margin-top: 20px !important;
  width: clamp(150px, 15vw, 250px);
  background-color: #98E5DD !important;
}

.cont-2{
  position: relative !important;
  height: 700vh;
  background-color: black;
  display: flex;
  justify-content: center;
}

.scroll-box{
  /*border: 2px solid green;*/
  width: 80vw;
  position: sticky;
  display: flex;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
  height: 50vh;
  margin-top: 50vh;
  margin-bottom: 50vh;
  padding: 2em;
}
.text-container{
  /*border: 2px solid red;*/
  /*overflow: hidden;*/
  /*height: 30vh;*/
  align-content: center;

}

.text-title{
  /*border: 2px solid red;*/
  display: flex;
  /*align-items: center;*/
  align-content: center;

  color: #6c6c6c;
  font-size: clamp(25px, 2vw, 5vw);
  transition: all 0.4s ease-in-out;
}

.text-title.active {
  color: white;
  font-size: clamp(30px, 5vw, 6vw);
  font-weight: 500;
  transform: scale(1.1) translateY(-5px) translateX(2pc);
}

.images-box{
  /*border: 2px solid red;*/
  display: flex;
  justify-content: right;
  /*background-position: center;*/
  /*background-size: cover;*/
  /*background-image: url(https://img.freepik.com/free-vector/expansion-cyber-life-vector-ai-neuron-network-small-particles-defined-motion-organic-geometric-growth-tentacles-space-colonization-burst-explosion-backdrop_1217-6146.jpg?t=st=1739908484~exp=1739912084~hmac=c269563a62348ec7f58231e9497c8444d5f41c30faeab32ac80c2fe983e66c41&w=996);*/
  /*width: 50%;*/
  /*height: 100%;*/
  /*margin: 0 !important;*/
  filter: brightness(90%) grayscale(100%);
  /*display: flex;*/
  /*box-shadow:  0 0 50px black inset;*/

}

.img{
  height: 50vh;
  /*margin-top: 5rem;*/
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 2s ease-in-out, transform 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
  transform: scale(1.2);
}


.details {
  font-weight: 200;
  color: white;
  font-size: 0.9rem;
  padding-left: 1rem;
  display: none;
  transform: translateY(10px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.details.show {
  display: flex;
  transform: translateY(0);
}

@media screen and (max-width: 900px) {
  .text-box{
    align-items: center;
  }
  .scroll-box{
    height: 80vh;
  }
  .img{
    height: 35vh;
    margin-top: 3rem;
  }
  .images-box{
    justify-content: center;
  }

}

@media screen and (max-width: 2000px) {
  .images-box{
    justify-content: center;
  }

  /*.cont-2 {*/
  /*  flex-direction: column;*/
  /*  align-items: center;*/
  /*}*/
  /*.images-box{*/
  /*  top: 45vh !important;*/
  /*  !*margin-top: 200px !important;*!*/
  /*}*/
  /*.box{*/
  /*  top: 20vh !important;*/
  /*  margin-top: 500px;*/
  /*}*/
}

.wrapper, .wrapper-1 {
   /*border: 1px solid red;*/
  width: 90%;
  max-width: 1500px;
  margin-inline: auto;
  position: relative;
  height: 100px;
  margin-top: 30vh;
  overflow: hidden;
  mask-image: linear-gradient(
          to right,
          rgba(0,0,0,0),
          rgba(0,0,0,1) 20%,
          rgba(0,0,0,1) 80%,
          rgba(0,0,0,0)
  );
}
.wrapper-1{
  margin-top: 0;
}

@keyframes scrollleft {
  to{
    left: -200px
  }
}
@keyframes scrollright {
  to{
    right: -200px
  }
}

.item{
  width: 200px;
  font-size: 2rem;
  font-weight: 500;
  height: 100px;
  /* background-color: red; */
  border-radius: 12px;
  position: absolute;
  left: max(calc(200px * 8), 100%);
  animation: scrollleft;
  animation-duration: 30s;
  animation-timing-function: linear;
  color: #ffffff;
  animation-iteration-count: infinite;
  /* animation-delay: -10s; */

}

.item-1{
  width: 200px;
  font-size: 2rem;
  font-weight: 500;
  height: 100px;
  /* background-color: red; */
  border-radius: 12px;
  position: absolute;
  right: max(calc(200px * 8), 100%);
  animation: scrollright;
  animation-duration: 30s;
  animation-timing-function: linear;
  color: #ffffff;
  animation-iteration-count: infinite;
}

.item1{
  animation-delay: calc(30s / 8 * (8 - 1) * -1) ;
}

.item2{
  animation-delay: calc(30s / 8 * (8 - 2) * -1) ;
}

.item3{
  animation-delay: calc(30s / 8 * (8 - 3) * -1) ;
}

.item4{
  animation-delay: calc(30s / 8 * (8 - 4) * -1 ) ;
}

.item5{
  animation-delay: calc(30s / 8 * (8 - 5) * -1) ;
}

.item6{
  animation-delay: calc(30s / 8 * (8 - 6) * -1) ;
}

.item7{
  animation-delay: calc(30s / 8 * (8 - 7) * -1) ;
}

.item8{
  animation-delay: calc(30s / 8 * (8 - 8) * -1) ;
}

.cont-3 {
  position: relative;
  width: 98vw;
  height: 100vh;
  background-color: black;
  /*border: 2px solid red;*/
  display: flex;
  overflow: hidden;
  justify-content: center !important;

}

.img-group-container {

  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  white-space: nowrap;
}

.img-group {
  display: flex;
  width: fit-content;
  transition: transform 0.3s ease-out;
}

.img-container {
  flex: 0 0 auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img-container img {
  width: 300px;
  height: 400px;
}

footer {
  height: 50vh;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}