button{
    background: transparent !important;
    color: #FFFFFF !important;
    /*width: 100px ;*/
    /*border-bottom: 1px solid #626060 !important;*/
}

button:hover{
    text-shadow: 1px 1px 20px #EDFF20FF !important;
}

button:focus{
    outline: none !important;
}

*{
    font-family: "Playfair Display", serif !important;

}
/*#root {*/
/*    height: 100%;*/
/*}*/

html, body {
    width: 100%;
    overflow: hidden;
}