.cont-1{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/bgnew.jpg") ;
    height: 95vh;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}
.lottie{
    width: 80vw;
    height: 100vh;
    position: absolute;
}
.card{
    /*border: 2px solid gray;*/
    padding: 2rem;
    position: relative;
    font-family: "Orbitron", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: ghostwhite ;
}
.front-end{
    font-family: "Grape Nuts", cursive;
    font-size: clamp(17px, 2vw, 2vw);
}
.name{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: clamp(20px, 4vw, 5vw);
    letter-spacing: 5px;
}
.titleCard{
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(6, 182, 236, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(18.8px);
    -webkit-backdrop-filter: blur(18.8px);
    border: 1px solid rgba(225, 155, 72, 0.32);
}
.dev{
    font-weight: 900;
    font-size: clamp(18px, 2vw, 4vw);
    animation: flicker-out-1 5s linear reverse infinite forwards;
    text-shadow: 1px 1px 2px #7f3306 !important;
    color: #EEB491;
}
.contact{
    display: inline-flex;
}
a{
    color: white;
    font-size: clamp(9px, 1.2vw, 2vw);;
}
a:hover{
    color: white;
}
.social{
    display: flex;
    margin-top: 1rem;
    color: #ac7553;
    width: 20vw;
    justify-content: space-around;
}
@keyframes flicker-out-1 {
    0% {
        opacity: 1;
    }
    13.9% {
        opacity: 1;
    }
    14% {
        opacity: 1;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    14.9% {
        opacity: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    15% {
        opacity: 1;
    }
    22.9% {
        opacity: 1;
    }
    23% {
        opacity: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    24.9% {
        opacity: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    25% {
        opacity: 1;
    }
    34.9% {
        opacity: 1;
    }
    35% {
        opacity: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    39.9% {
        opacity: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    40% {
        opacity: 1;
    }
    42.9% {
        opacity: 1;
    }
    43% {
        opacity: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    44.9% {
        opacity: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    45% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    54.9% {
        opacity: 1;
    }
    55% {
        opacity: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    69.4% {
        opacity: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    69.5% {
        opacity: 1;
    }
    69.9% {
        opacity: 1;
    }
    70% {
        opacity: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    79.4% {
        opacity: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    79.9% {
        opacity: 1;
    }
    80% {
        opacity: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    89.8% {
        opacity: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    89.9% {
        opacity: 1;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    90% {
        opacity: 1;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    100% {
        opacity: 1;
    }
}


.middle{
    background: white !important;
    border-radius: 14px;
    height: 45vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1 !important;
}
.middle-text{
    padding: 2rem;
    display: flex;
    width: 70%;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.mid-text{
    font-size: clamp(50px, 7vw, 8rem);
    color: black;
    font-weight: 900;
}
.mid-text-description{
    text-align: center;
    color: black;
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 300;
}


.cont-2{
    height: 800vh;
    background: black;
    margin-top: -15rem;
    z-index: -1 !important;
}
.scroll-box{
    position: sticky;
    top: 10vh;
    height: 80vh;
    /*border: 2px solid blue;*/
    /*background-image: url("../../assets/background.jpg");*/
    /*inset: 0;*/
    padding: 1rem;
}
.experience-title-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    /*border: 2px solid blue;*/

}
.experience-title{
    font-weight: 900;
    font-size: clamp(50px, 7vw, 8rem);
}
.container-animation{
    /*border: 2px solid red;*/
    height: 70vh;
    position: relative;
}
.side-1, .side-2, .side-3, .side-4{
    height: 50%;
    overflow: hidden;
    /*border: 2px solid red;*/
}
.img-1 {
    background-image: url("../../assets/bgnew1.jpg");
}

.img-2{
    background-image: url("../../assets/bgnew1.jpg");
}

/*@keyframes show {*/
/*    from { height: 0}*/
/*    to{ height: 100%}*/
/*}*/

.text-box-animation{
    border: 2px solid blue;
    padding: 1rem;
    height: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.text-title{
    display: none;
    cursor: pointer;
    color: #5b5a5a;
    font-size: clamp(25px, 1vw, 2vw);
    transition: all 0.4s ease-in-out;

}
.text-title.active {
    /*text-shadow: 2px 2px 5px #d0cfcf;*/
    color: #de5401;
    font-size: clamp(25px, 3vw, 5vw);
    font-weight: 700;
    display: flex;
    /*justify-content: start;*/
    /*text-align: center !important;*/
    transform: scale(1) translateY(0px);
}

.images-box{
    padding: 3rem;
    display: flex;
    height: 25vh;
    width: 80vw;
    margin: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    background-image: url("../../assets/bgnew1.jpg");
}
.img{
    z-index: 111111111;
    animation: float 4s ease-in-out infinite;
    transition: transform 0.2s ease;
    position: absolute;
    width: 25rem;
    display: block;
    top: -100px;
    border: 2px solid red;
}
/*@keyframes float {*/
/*    0%   { transform: translateY(0); }*/
/*    50%  { transform: translateY(-15px); }*/
/*    100% { transform: translateY(0); }*/
/*}*/

.fade-in {
    opacity: 1;
    transform: scale(1.2);
}

.details {
    font-weight: 200;
    color: white;
    font-size: clamp(10px, 0.5vw, 3rem);
    display: none;
    text-align: start;
    transform: translateY(10px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.details.show {
    display: flex;
    transform: translateY(0);
    /*font-size: 15px;*/
}

@media screen and (max-width: 1200px) {
    .text-title:not(.active) {
        display: none;
    }
    .text-title.active{
        text-align: center;
        justify-content: center;
    }
    /*.img{*/
    /*    width: 55vw;*/
    /*    margin-top: 0rem;*/
    /*}*/

    .details.show{
        font-size: 11px;
        justify-content: center;
        text-align: center;
    }

}

.second-middle{
    /*border: 2px solid red;*/
    height: 25vh;
    padding: 5vh;
    justify-content: center;
    align-items: center;
}

.wrapper, .wrapper-1 {
    width: 100%;
    max-width: 2300px;
    margin-inline: auto;
    position: relative;
    height: 100px;
    overflow: hidden;
    mask-image: linear-gradient(
            to right,
            rgba(0,0,0,0),
            rgba(0,0,0,1) 20%,
            rgba(0,0,0,1) 80%,
            rgba(0,0,0,0)
    );
}

.wrapper-1{
    margin-top: 0;
}
@keyframes scrollleft {
    to{
        left: -200px
    }
}
@keyframes scrollright {
    to{
        right: -200px
    }
}

.item{
    width: 200px;
    font-size: clamp(20px, 1vw, 3rem);
    font-weight: 500;
    height: 100px;
    /* background-color: red; */
    border-radius: 12px;
    position: absolute;
    left: max(calc(200px * 8), 100%);
    animation: scrollleft;
    animation-duration: 30s;
    animation-timing-function: linear;
    color: #ffffff;
    animation-iteration-count: infinite;
    /* animation-delay: -10s; */

}
.item-1{
    width: 200px;
    font-size: clamp(20px, 1vw, 3rem);
    font-weight: 500;
    height: 100px;
    /* background-color: red; */
    border-radius: 12px;
    position: absolute;
    right: max(calc(200px * 8), 100%);
    animation: scrollright;
    animation-duration: 30s;
    animation-timing-function: linear;
    color: #ffffff;
    animation-iteration-count: infinite;
}
.item1{
    animation-delay: calc(30s / 8 * (8 - 1) * -1) ;
}
.item2{
    animation-delay: calc(30s / 8 * (8 - 2) * -1) ;
}
.item3{
    animation-delay: calc(30s / 8 * (8 - 3) * -1) ;
}
.item4{
    animation-delay: calc(30s / 8 * (8 - 4) * -1 ) ;
}
.item5{
    animation-delay: calc(30s / 8 * (8 - 5) * -1) ;
}
.item6{
    animation-delay: calc(30s / 8 * (8 - 6) * -1) ;
}
.item7{
    animation-delay: calc(30s / 8 * (8 - 7) * -1) ;
}
.item8{
    animation-delay: calc(30s / 8 * (8 - 8) * -1) ;
}
.cont-3 {
    position: relative;
    /*border: 2px solid red;*/
    width: 99vw;
    height: 100vh;

    background-color: black;
    /*border: 2px solid red;*/
    display: flex;
    overflow: hidden;
    /*background-image: linear-gradient(to top, #00050a, #000610, #010713, #010715, #020716);*/
    justify-content: center !important;

}

.img-group-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    white-space: nowrap;
}
.img-group {
    display: flex;
    width: fit-content;
    transition: transform 0.3s ease-out;
}
.img-container {
    flex: 0 0 auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.img-container img {
    width: 300px;
    height: 400px;
}

footer {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes square-in-hesitate {
    0% {
        clip-path: inset(100% 100% 100% 100%);
    }
    40% {
        clip-path: inset(33% 33% 33% 33%);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}
[transition-style="in:square:hesitate"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-in-hesitate both;
}

