.container{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/bgnew.jpg") ;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}

.resume-container{
    /*border: 2px solid red;*/
    overflow-X: hidden;
    width: 95vw;
    height: 80vh;
 }

.base-card{
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #191919 !important;
    border-radius: 14px !important;
    /*background: transparent !important;*/
}
.bar{
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    justify-content: space-around;
    align-items: center;
    /*border: 2px solid red;*/
}
.paper-style{
    background: #1c1c1c !important;
    border-radius: 20px !important;
    border: 2px solid #5f5e5e;
    width: 20vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lottie{
    width: 30vw;
    height: 25vh;
    position: absolute;
    opacity: 0.5;
}

.card-content{
    color: white ;
    gap: 5px;
    /*height: 40%;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-action{
    border-top: 1px solid #2e2d2d;
    display: flex;
    /*border: 2px solid red;*/
    justify-content: space-evenly;
    align-items: start;
    color: white;
}
.action-btn{
    cursor: pointer;
}
.action-btn:hover{
 color: #EDFF20FF ;
}


.detail-card{
    height: 75vh;
    position: relative;
    background: transparent !important;
    border: 1px solid #53535b;
    border-radius: 12px !important;
    overflow: auto !important;
    scrollbar-color: #000000 transparent;
    scrollbar-width: thin;
}
.detail-card::before {
    /*border: 2px solid red;*/
    content: "";
    position: absolute;
    inset: 0;
    height: 10px;
    background: transparent;
    backdrop-filter: blur(8px);
}
.typography{
    font-size: 26px !important;
    font-weight: 800 !important;
    margin-left: 1rem !important;
    color: #FFFFFF;
}
.date-box{
    color: #EDFF20FF;
    font-size: 8px;
    border: 2px solid #EDFF20FF;
    padding: 0.2rem;
    border-radius: 5px;
    width: fit-content;
}
.divider{
    background-color: #53535b;
    opacity: 0.5 !important;
    /*margin: 1rem !important;*/
}
.address-box{
    justify-content: space-between;
    display: flex;
}
.experience-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.skill-grid{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.base-card-title{
    font-weight: 800 !important;
    font-size: clamp(35px, 3vw, 4vw) !important;
}
.base-card-body{
    font-weight: 500 !important;
    color: #EDFF20FF;
    font-size: clamp(15px, 0.5rem, 0.5vw) !important;
}


@media screen and (min-width: 200px) and (max-width: 950px) {
    .detail-card{
        height: auto;
        margin-top: 1rem;
        padding: 1rem;
    }
    .base-card{
        height: 100vh !important;
    }
    .resume-container{
        width: 99vw;
        height: 100vh
    }
    .paper-style{
        width: 60vw;
        height: 5vh;
    }
}
@media screen and (min-width: 350px) and (max-width: 1200px) {
    .resume-container{
        width: 99vw;
        height: 100vh;
    }
    .detail-card{
        height: auto;
        margin-top: 1rem;
        padding: 1rem;
        overflow: hidden;
    }
    .base-card{
        height: 100vh !important;
    }
}
@media screen and (min-width: 1500px) {
    .resume-container{
        width: 75vw;
    }
}



