
*{
    /*outline: 2px solid white;*/
}

.cont-1{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/bgnew.jpg") ;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}


.resume-container{
    /*border: 2px solid red;*/
    overflow-X: hidden;
    width: 95vw;
    height: 80vh;
 }

.bar{
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    justify-content: space-around;
    align-items: center;
    /*border: 2px solid red;*/
}

.paper-style{
    background: #1c1c1c !important;
    border-radius: 20px !important;
    border: 2px solid #5f5e5e;
    width: 20vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.base-card{
    position: relative;
    height: 80vh;
    background: #191919 !important;
    border-radius: 14px !important;
    /*background: transparent !important;*/
}

.card-content{
    color: white ;
    position: relative;
}

.card-action{
    border-top: 1px solid #2e2d2d;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}


.detail-card{
    height: 75vh;

    background: transparent !important;
    border: 1px solid #53535b;
    border-radius: 12px !important;
    overflow: auto !important;
    scrollbar-color: #000000 transparent;
    scrollbar-width: thin;
    /*mask-image: linear-gradient(*/
    /*        to bottom,*/
    /*        transparent 0%,*/
    /*        black 10%,*/
    /*        black 90%,*/
    /*        transparent 100%*/
    /*);*/
}

.detail-card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    background: black;

}





.typography{
    font-size: 26px !important;
    font-weight: 800 !important;
    margin-left: 1rem !important;
    color: #FFFFFF;
}


.title-card{
    font-weight: 800 !important;
    font-size: clamp(35px, 3vw, 4vw) !important;
}
.body-card{
    font-weight: 500 !important;
    color: #EDFF20FF;
    font-size: clamp(15px, 0.5rem, 0.5vw) !important;
}

.lottie{
    width: 30vw;
    height: 25vh;
    position: absolute;
    opacity: 0.5;
}
.card{
    /*border: 2px solid gray;*/
    padding: 2rem;
    position: relative;
    font-family: "Orbitron", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: ghostwhite ;
}
.front-end{
    font-family: "Grape Nuts", cursive;
    font-size: clamp(17px, 2vw, 2vw);
}
.name{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: clamp(20px, 4vw, 5vw);
    letter-spacing: 5px;
}
.titleCard{
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(6, 182, 236, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(18.8px);
    -webkit-backdrop-filter: blur(18.8px);
    border: 1px solid rgba(225, 155, 72, 0.32);
}
.dev{
    font-weight: 900;
    font-size: clamp(18px, 2vw, 4vw);
    animation: flicker-out-1 5s linear reverse infinite forwards;
    text-shadow: 1px 1px 2px #E52020 !important;
    color: #E52020;
}
.contact{
    display: inline-flex;
}
a{
    color: white;
    font-size: clamp(9px, 1.2vw, 2vw);;
}
a:hover{
    color: white;
}
.social{
    display: flex;
    margin-top: 1rem;
    color: #E52020;
    width: 20vw;
    justify-content: space-around;
}
@keyframes flicker-out-1 {
    0% {
        opacity: 1;
    }
    13.9% {
        opacity: 1;
    }
    14% {
        opacity: 1;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    14.9% {
        opacity: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    15% {
        opacity: 1;
    }
    22.9% {
        opacity: 1;
    }
    23% {
        opacity: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    24.9% {
        opacity: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    25% {
        opacity: 1;
    }
    34.9% {
        opacity: 1;
    }
    35% {
        opacity: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    39.9% {
        opacity: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    40% {
        opacity: 1;
    }
    42.9% {
        opacity: 1;
    }
    43% {
        opacity: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    44.9% {
        opacity: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    45% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    54.9% {
        opacity: 1;
    }
    55% {
        opacity: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    69.4% {
        opacity: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    69.5% {
        opacity: 1;
    }
    69.9% {
        opacity: 1;
    }
    70% {
        opacity: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    79.4% {
        opacity: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    79.9% {
        opacity: 1;
    }
    80% {
        opacity: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    89.8% {
        opacity: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    89.9% {
        opacity: 1;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    90% {
        opacity: 1;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    100% {
        opacity: 1;
    }
}


.middle{
    background: white !important;
    border-radius: 14px;
    height: 45vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1 !important;
}
.middle-text{
    padding: 2rem;
    display: flex;
    width: 70%;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.mid-text{
    font-size: clamp(50px, 7vw, 8rem);
    color: black;
    font-weight: 900;
}
.mid-text-description{
    text-align: center;
    color: black;
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 300;
}


.cont-2{
    height: 500vh;
    background: #080914;
    margin-top: -15rem;
    z-index: -1 !important;

}
.scroll-box{
    position: sticky;
    top: 5vh;
    height: 80vh;
    padding: 1rem;
}
.experience-title-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
.experience-title{
    font-weight: 900;
    font-size: clamp(50px, 7vw, 7rem);
}
.container-animation{
    height: 75vh;
    position: relative;
    overflow: hidden;
    /*border: 2px solid #ffffff;*/
}


.side-1, .side-2, .side-3, .side-4{
    height: 37vh;
    /*border: 2px solid red;*/
    overflow: hidden;
    /*position: absolute;*/
    /*height: 60%;*/
}

.side-1{
    /*border: 2px solid gray;*/
}

.side-1-text{
    /*border: 2px solid #ff0707;*/
    align-items: end;
    height: 36vh;
    display: flex;
}
.detail-text{
    /*border: 2px solid gray;*/
    padding: 1rem;
    margin-left: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1111111111;
}

.detail-text span:nth-child(1) {
    font-size: clamp(20px, 2vw, 3vw);
    font-family: "Grape Nuts", cursive;
    align-self: center;
    color: #e30b16;
}

.detail-text span:nth-child(2) {
    font-size: clamp(25px, 2.5vw, 3vw);
    font-weight: 900;
    text-align: center;
}

.detail-text Button:nth-child(3) {
    /*font-size: clamp(15px, 1vw, 1vw);*/
    text-transform: uppercase;
}

.phone-img {
    /*animation: floatSoft 4s ease-in-out infinite;*/
    /*will-change: transform;*/
    position: absolute;
    top: 5vh;
    right: -100px;
    margin-right: 8vw;
    height: 55vh;
    width: auto;
}

.rock-1 {
    animation: floatSoft 4s ease-in-out infinite;
    will-change: transform;
    position: absolute;
    filter: drop-shadow(1px 1px 2rem #1c1c1c);
    top: 10vh;
    right: 16vw;
    z-index: -1;
    margin-right: 2vw;
}

@keyframes floatSoft {
    0%   { transform: translateY(0) }
    50%  { transform: translateY(-12px) }
    100% { transform: translateY(0) }
}

.rock-2 {
    position: absolute;
    animation: floatRock2 3s ease-in-out infinite;
    will-change: transform;
    top: 35vh;
    right: 35vw;
    margin-right: 2vw;
    z-index: -1;
    filter: drop-shadow(5px 5px 1rem #151515)
}

@keyframes floatRock2 {
    0%   { transform: translateY(0) }
    50%  { transform: translateY(30px) }
    100% { transform: translateY(0) }
}

.rock-3 {
    position: absolute;
    animation: floatRock2 3s ease-in-out infinite;
    will-change: transform;
    top: 50vh;
    right: 18vw;
    margin-right: 2vw;
    filter: drop-shadow(1px 1px 2rem #1c1c1c)
}

.worker {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 15vw;
    height: 60vh;
    width: auto;
}

.img-1 {
    background-image: url("../../assets/rocks1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-position: center;
}


.img-2{
    background-image: url("../../assets/mural.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

@media screen and (min-width: 200px) and (max-width: 950px) {
    .phone-img{
        height: 30vh;
        width: auto;
        top: 35%;
        margin-right: 1vw;
    }
    .detail-text{
        margin-left: 0;
    }
    .detail-card{
        height: auto;
        margin-top: 1rem;
        padding: 1rem;
    }
    .base-card{
        height: 100vh !important;
    }
    .resume-container{
        width: 100vw;
        height: 100vh
    }
    .paper-style{
        width: 60vw;
        height: 5vh;
    }
    /*.bar{*/
    /*    position: absolute !important;*/
    /*    display: block;*/
    /*  */
    /*}*/
}
@media screen and (min-width: 1500px) {
    .phone-img {
        height: 80vh;
        width: auto;
        top: -10%;
        margin-right:15vw;
    }
    .resume-container{
        width: 75vw;
    }
}


.second-middle{
    /*border: 2px solid red;*/
    height: 25vh;
    padding: 5vh;
    justify-content: center;
    align-items: center;
}
.wrapper, .wrapper-1 {
    width: 100%;
    max-width: 2300px;
    margin-inline: auto;
    position: relative;
    height: 100px;
    overflow: hidden;
    mask-image: linear-gradient(
            to right,
            rgba(0,0,0,0),
            rgba(0,0,0,1) 20%,
            rgba(0,0,0,1) 80%,
            rgba(0,0,0,0)
    );
}

.wrapper-1{
    margin-top: 0;
}
.item{
    width: 200px;
    font-size: clamp(20px, 1vw, 3rem);
    font-weight: 500;
    height: 100px;
    /* background-color: red; */
    border-radius: 12px;
    position: absolute;
    left: max(calc(200px * 8), 100%);
    animation: scrollleft;
    animation-duration: 30s;
    animation-timing-function: linear;
    color: #ffffff;
    animation-iteration-count: infinite;
    /* animation-delay: -10s; */

}
.item-1{
    width: 200px;
    font-size: clamp(20px, 1vw, 3rem);
    font-weight: 500;
    height: 100px;
    /* background-color: red; */
    border-radius: 12px;
    position: absolute;
    right: max(calc(200px * 8), 100%);
    animation: scrollright;
    animation-duration: 30s;
    animation-timing-function: linear;
    color: #ffffff;
    animation-iteration-count: infinite;
}
.item1{
    animation-delay: calc(30s / 8 * (8 - 1) * -1) ;
}
.item2{
    animation-delay: calc(30s / 8 * (8 - 2) * -1) ;
}
.item3{
    animation-delay: calc(30s / 8 * (8 - 3) * -1) ;
}
.item4{
    animation-delay: calc(30s / 8 * (8 - 4) * -1 ) ;
}
.item5{
    animation-delay: calc(30s / 8 * (8 - 5) * -1) ;
}
.item6{
    animation-delay: calc(30s / 8 * (8 - 6) * -1) ;
}
.item7{
    animation-delay: calc(30s / 8 * (8 - 7) * -1) ;
}
.item8{
    animation-delay: calc(30s / 8 * (8 - 8) * -1) ;
}




footer {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes square-in-hesitate {
    0% {
        clip-path: inset(100% 100% 100% 100%);
    }
    40% {
        clip-path: inset(33% 33% 33% 33%);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}
[transition-style="in:square:hesitate"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-in-hesitate both;
}

