.container{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/bgnew.jpg") ;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}
.resume-container{
    /*border: 2px solid red;*/
    overflow-X: hidden;
    width: 95vw;
    height: 80vh;
 }

.base-card{
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #191919 !important;
    border-radius: 14px !important;
    /*background: transparent !important;*/
}
.bar{
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    justify-content: space-around;
    align-items: center;
    /*border: 2px solid red;*/
}
.paper-style{
    background: #1c1c1c !important;
    border-radius: 20px !important;
    border: 2px solid #5f5e5e;
    width: 20vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-content{
    color: white ;
    gap: 5px;
    /*height: 40%;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-action{
    border-top: 1px solid #2e2d2d;
    display: flex;
    /*border: 2px solid red;*/
    justify-content: space-evenly;
    align-items: start;
    color: white;
}
.action-btn{
    cursor: pointer;
}
.action-btn:hover{
 color: #EDFF20FF ;
}


.detail-card{
    height: 75vh;
    position: relative;
    background: transparent !important;
    border: 1px solid #53535b;
    border-radius: 12px !important;
    overflow: auto !important;
    scrollbar-color: #000000 transparent;
    scrollbar-width: thin;
}
.detail-card::before {
    /*border: 2px solid red;*/
    content: "";
    position: absolute;
    inset: 0;
    height: 10px;
    background: transparent;
    backdrop-filter: blur(8px);
}
.typography{
    font-size: 26px !important;
    font-weight: 800 !important;
    margin-left: 1rem !important;
    color: #FFFFFF;
}
.date-box{
    color: #EDFF20FF;
    font-size: 8px;
    border: 2px solid #EDFF20FF;
    padding: 0.2rem;
    border-radius: 5px;
    width: fit-content;
}
.divider{
    background-color: #53535b;
    opacity: 0.5 !important;
    /*margin: 1rem !important;*/
}
.address-box{
    justify-content: space-between;
    display: flex;
}
.experience-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.skill-grid{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.base-card-title{
    font-weight: 800 !important;
    font-size: clamp(35px, 3vw, 4vw) !important;
}
.base-card-body{
    font-weight: 500 !important;
    color: #EDFF20FF;
    font-size: clamp(15px, 0.5rem, 0.5vw) !important;
}




@media screen and (min-width: 200px) and (max-width: 950px) {
    .phone-img{
        height: 30vh;
        width: auto;
        top: 35%;
        margin-right: 1vw;
    }
    .detail-text{
        margin-left: 0;
    }
    .detail-card{
        height: auto;
        margin-top: 1rem;
        padding: 1rem;
    }
    .base-card{
        height: 100vh !important;
    }
    .resume-container{
        width: 99vw;
        height: 100vh
    }
    .paper-style{
        width: 60vw;
        height: 5vh;
    }
}
@media screen and (min-width: 350px) and (max-width: 1200px) {
    .resume-container{
        width: 99vw;
        height: 100vh;
    }
    .detail-card{
        height: auto;
        margin-top: 1rem;
        padding: 1rem;
        overflow: hidden;
    }
    .base-card{
        height: 100vh !important;
    }
}
@media screen and (min-width: 1500px) {
    .phone-img {
        height: 80vh;
        width: auto;
        top: -10%;
        margin-right:15vw;
    }
    .resume-container{
        width: 75vw;
    }
}


.second-middle{
    /*border: 2px solid red;*/
    height: 25vh;
    padding: 5vh;
    justify-content: center;
    align-items: center;
}
.wrapper, .wrapper-1 {
    width: 100%;
    max-width: 2300px;
    margin-inline: auto;
    position: relative;
    height: 100px;
    overflow: hidden;
    mask-image: linear-gradient(
            to right,
            rgba(0,0,0,0),
            rgba(0,0,0,1) 20%,
            rgba(0,0,0,1) 80%,
            rgba(0,0,0,0)
    );
}

.wrapper-1{
    margin-top: 0;
}
.item{
    width: 200px;
    font-size: clamp(20px, 1vw, 3rem);
    font-weight: 500;
    height: 100px;
    /* background-color: red; */
    border-radius: 12px;
    position: absolute;
    left: max(calc(200px * 8), 100%);
    animation: scrollleft;
    animation-duration: 30s;
    animation-timing-function: linear;
    color: #ffffff;
    animation-iteration-count: infinite;
    /* animation-delay: -10s; */

}
.item-1{
    width: 200px;
    font-size: clamp(20px, 1vw, 3rem);
    font-weight: 500;
    height: 100px;
    /* background-color: red; */
    border-radius: 12px;
    position: absolute;
    right: max(calc(200px * 8), 100%);
    animation: scrollright;
    animation-duration: 30s;
    animation-timing-function: linear;
    color: #ffffff;
    animation-iteration-count: infinite;
}
.item1{
    animation-delay: calc(30s / 8 * (8 - 1) * -1) ;
}
.item2{
    animation-delay: calc(30s / 8 * (8 - 2) * -1) ;
}
.item3{
    animation-delay: calc(30s / 8 * (8 - 3) * -1) ;
}
.item4{
    animation-delay: calc(30s / 8 * (8 - 4) * -1 ) ;
}
.item5{
    animation-delay: calc(30s / 8 * (8 - 5) * -1) ;
}
.item6{
    animation-delay: calc(30s / 8 * (8 - 6) * -1) ;
}
.item7{
    animation-delay: calc(30s / 8 * (8 - 7) * -1) ;
}
.item8{
    animation-delay: calc(30s / 8 * (8 - 8) * -1) ;
}




footer {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes square-in-hesitate {
    0% {
        clip-path: inset(100% 100% 100% 100%);
    }
    40% {
        clip-path: inset(33% 33% 33% 33%);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}
[transition-style="in:square:hesitate"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-in-hesitate both;
}

