.container{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/bgnew.jpg") ;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

    justify-content: center;
    align-items: center;
    display: flex;
    /*direction: rtl;*/
}

.resume-container{
    width: 95vw;
    height: 81vh;
    align-items: center;
 }

.base-card{
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: black !important;
    border-radius: 14px !important;
    border: 1px solid #5f5e5e;
}

.bar{
    position: absolute;
    display: flex;
    top: 50%;
    flex-direction: column;
    right: 0;
    transform: translate(50%, -50%);
    width: 40px;
    height: 200px;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #5f5e5e;
    border-radius: 20px;
    background: #151515;
    z-index: 2;
}

.lottie{
    min-width: 40vw;
    width: 30vw;
    height: 25vh;
    position: absolute;
    opacity: 0.5;
}

.card-content{
    color: white ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    height: 75%;
    /*border: 2px solid blue;*/
}
.card-action{
    border-top: 1px solid #2e2d2d;
    display: flex;
    justify-content: space-evenly;
    /*align-items: e;*/
    color: white;
    height: 10%;
    /*border: 1px solid green*/
}
.action-btn{
    cursor: pointer;
    padding: 0.3rem;
    display: inline-flex;
}
.action-btn:hover{
    color: #EDFF20FF ;

}

.detail-card{
    height: 75vh;
    position: relative;
    background: transparent !important;
    border:  1px solid #53535b ;
    border-radius: 12px !important;
    overflow: auto !important;
    scrollbar-color: #000000 transparent;
    scrollbar-width: thin;
}
/*.detail-card::before {*/
/*    border: 2px solid red;*/
/*    content: "";*/
/*    position: absolute;*/
/*    inset: 0;*/
/*    height: 10px;*/
/*    background: transparent;*/
/*    backdrop-filter: blur(8px);*/
/*}*/

.typography{
    font-size: 26px !important;
    font-weight: 800 !important;
    margin-left: 1rem !important;
    color: #FFFFFF;
}
.date-box{
    color: #EDFF20FF;
    font-size: 8px;
    border: 2px solid #EDFF20FF;
    padding: 0.2rem;
    border-radius: 5px;
    width: fit-content;
}
.divider{
    background-color: #53535b;
    opacity: 0.5 !important;
}
.address-box{
    justify-content: space-between;
    display: flex;
}
.experience-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.skill-grid{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.base-card-title{
    animation: tracking-in-expand-fwd 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    font-weight: 700 !important;
    font-size: clamp(30px, 3vw, 4vw) !important;
}
@keyframes tracking-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        transform: translateZ(-700px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}

.base-card-body{
    font-weight: 500 !important;
    color: #EDFF20FF;
    font-size: clamp(15px, 1vw, 1.3vw) !important;
}
.social-icon{
    width: auto;
    gap: 20px !important;
    display: flex;
    color: white;
}

.git-icon, .linkedin-icon, .instagram-icon{
    color: white;
    z-index: 11111 !important;
    cursor: pointer !important;

}


.git-icon:hover, .linkedin-icon:hover, .instagram-icon:hover{
    color: #EDFF20FF !important;
}

@media screen and (min-width: 200px) and (max-width: 950px) {
    .detail-card{
        height: auto;
        margin-top: 1rem;
        padding: 1rem;
    }
    .base-card{
        height: 100dvh !important;
    }
    .resume-container{
        width: 99vw;
        height: 100vh
    }
    .paper-style{
        width: 60vw;
        height: 5vh;
    }
    .bar{
        display: flex;
        position: fixed;
        top: 0 !important;
        flex-direction: row;
        width: 99vw;
        transform: translate(0%, 0);
        height: 7vh;
        justify-content: space-evenly;
        align-items: center;
        /*border: unset;*/
        /*border: 1px solid gray;*/
        border-radius: 12px;
        background: #000000;
        z-index: 2;
    }
}
@media screen and (min-width: 950px) and (max-width: 1200px) {
    .resume-container{
        width: 99vw;
        height: 100vh;
    }
    .detail-card{
        height: auto;
        margin-top: 1rem;
        padding: 1rem;
        overflow: hidden;
    }
    .base-card{
        height: 100dvh !important;
    }
    .bar{
        display: flex;
        position: fixed;
        top: 0 !important;
        flex-direction: row;
        width: 99vw;
        transform: translate(0%, 0);
        height: 7vh;
        justify-content: space-evenly;
        align-items: center;
        /*border: unset;*/
        /*border: 1px solid gray;*/
        border-radius: 12px;
        background: #000000;
        z-index: 2;
    }
}
@media screen and (min-width: 1500px) {
    .resume-container{
        width: 75vw;
    }
}



.typography::first-letter{
    color: #EDFF20FF !important;
}